#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif
}

p{
  font-size: medium;
}

.cardBox{
  height: 300px;
  width: 500px;
  border-color: black;
  border: solid;
  border-radius: 5px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lavender;
}

button{
  background-color: white;
  border-radius: 5px;
  border: none;
}

.arrowButton{
  padding: 10px;
  border: solid;
  width: 100px;
  margin: 20px;
  background-color: lightpink;
}

.flashcardArea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  min-width: 200px;
  border: solid black;
  border-radius: 5px;
  padding: 5px;
}

.submitButton{
  background-color: lightblue;
  border: black solid;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
}